<navbar></navbar>
<div class="container justify-content-center text-center">
  <div style="text-center">
    <div><br><br><br></div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative container">
    <div class="row justify-content-center">
      <div class="card mt-sm-3 col-md-8">
        <div class="card-body">
          <h3 class="mb-0">Artist Directory</h3>
          <div class="form-group">
            <div class="form-label" *ngIf="query"><strong>For:</strong>
              {{ query }}
            </div>
            <input class="form-control mt-2" type="text"
              [(ngModel)]="query" >
          </div><!-- form-group -->
        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- row -->

    <div class="position-absolute container" style="left: 0; z-index:10">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="list-group" *ngIf="query===''; else elseBlock">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
              *ngFor="let artist of artists"
              (click)="showArtist(artist); query=''"
              [style.backgroundColor]="artist.highlight ? '#EEE' : '#FFF'">
              <app-artist-items [artist]="artist" ></app-artist-items>
            </a><!-- link -->
          </div><!-- list-group -->
          <ng-template #elseBlock>
            <div class="list-group" >
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                *ngFor="let artist of (artists | searchArtists: query)"
                (click)="showArtist(artist)"
                [style.backgroundColor]="artist.highlight ? '#EEE' : '#FFF'">
                <app-artist-items [artist]="artist" ></app-artist-items>
              </a><!-- link -->
          </div>
          </ng-template>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
    <app-artist-details  *ngIf="currentArtist" 
      [artist]="currentArtist"></app-artist-details>

  </div><!-- position -->

  <!-- /.row -->
  <div  style="text-center">  
    <h1>That's It</h1>
  </div>
</div>
<foot></foot>